<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="DangKy.css">
    <link rel="stylesheet" href="Style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>
    <body style="background-color: #FFEDE1">
        <!--<img src="logo.png" alt="Logo" width="250px" height="250px" style="position: absolute; left: 55px; top: 0">-->
        <!--<div style="height: 1024px; width: 800px; background-color: white; position: absolute; right: 0; top: 0">-->
        <!--    <form action="" style="position: absolute; top: 50px; left: 200px; border: 2px solid; width: 350px; height: 886px; padding-left: 50px; padding-top: 20px; padding-right: 50px">-->
        <!--        <lable style="color:#F47458; font-size: 28px; font-weight: bold; font-family: sans-serif">Yankee Auction</lable>-->
        <!--        <br> <br> <br>-->
        <!--        <lable style="color: #919999; font-size: 16px;font-family: sans-serif ">Welcome back!!!</lable>-->
        <!--        <br> <br>-->
        <!--        <lable style="color: #000000; font-size: 36px;font-weight: bold; font-family: sans-serif ">Create an account</lable>-->
        <!--        <br><br>-->
        <!--        <lable for="txtFName" style="font-size: 16px; font-family: sans-serif">First name</lable><br>-->
        <!--        <input type="text" id="txtFName" style="width: 360px; height: 37px; background-color: #FFF6F4; border: 0; border-radius: 4px;">-->
        <!--        <br><br>-->
        <!--        <lable for="txtLName" style="font-size: 16px; font-family: sans-serif">Last name</lable><br>-->
        <!--        <input type="text" id="txtLname" style="width: 360px; height: 37px; background-color: #FFF6F4; border: 0; border-radius: 4px">-->
        <!--    </form>-->
        <!--</div>-->
        
        <div class = "container">
            <div class="container-left">
                <img class="login-logo"src="HinhAnh/Image/Logo.png" alt="logo">
                <img class="login-image-1"  src="HinhAnh/Image/Background_Login.png" alt="man">
            </div>
            <div class="container-right">
        
                <form method="post" id="formDangKy">
                    <h1>Yankee Auction</h1>
                    <p class="welcome">Welcome back !!!</p>
                    <p class="sign-in" style="font-size: 30px">Create an account</p>
                    <div class="flex_txt_field">
                        <div class="txt_field"  >
                            <input v-model="firstName" type="text" required >
                            <span></span>
                            <label>First name</label>
                        </div>
                        <div class="txt_field" >
                            <input v-model="lastName" type="text" required>
                            <span></span>
                            <label>Last name</label>
                        </div>
                    </div>
        
                    <div class="txt_field" id="txtEmail">
                        <input v-model="email" type="text" required>
                        <span></span>
                        <label>Email</label>
                    </div>
        
                    <div class="flex_txt_field">
                        <div class="txt_field"  >
                            <input v-model="pass" type="text" required>
                            <span></span>
                            <label>Password</label>
                        </div>
                        <div class="txt_field" >
                            <input type="text" required>
                            <span></span>
                            <label>Confirm password</label>
                        </div>
                    </div>
                    <div class="note">By Creating an account, you agree to our User
                        Agreement and acknowledge reading our User Privacy.</div>
                    <input type="submit" value="Create an account">
                    <div class="signup_link">
                        Already a member ? <a href="Login.html">Sign in</a>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <hr class="line-login">
        </div>
        
        </body>
        <script>
            var inform  = new Vue({
                el: '#formDangKy',
                data(){
                    return{
                        firstName: '', 
                        lastName:'', 
                        email: '',
                        pass: ''
                    }
            
                }, 
                methods:{               
                    handleFNameKeyUp(e){
                        this.firstName= e.target.value
                        // console.log(this.firstName)
                    },
                    handleLNameKeyUp(e){
                        this.lastName= e.target.value
                        // console.log(this.lastName)
                    },
                    handleEmailKeyUp(e){
                        this.email= e.target.value
                        // console.log(this.email)
                    },
                    handlePassKeyUp(e){
                        this.pass= e.target.value
                        // console.log(this.pass)
                    }
                }
            })
        </script>

</html>