body{
    background-color: #F2F2F6;
}
header{
    background-color: #ffffff;
}
.allProduct{
    width: 100%;
    display: flex;
    justify-content: center;
}
.leftAllProduct{
    width: 18%;
    background-color: #ffffff;
    margin-top: 99px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.rightAllProduct{
    margin-top: 99px;
    margin-bottom: 4px;
    width: 80%;
    background-color: #ffffff;
}
.sidenav {
    width: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    /*color: #818181;*/
    color: #19124F;
    display: block;
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #19124F;
}
